Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  portability-*,
  misc-*,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -readability-identifier-naming,
  -misc-non-private-member-variables-in-classes

HeaderFilterRegex: '.*'
SystemHeaders: true
FormatStyle: 'file'
CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
  - key: bugprone-easily-swappable-parameters.MinimumLength
    value: 3